# Grupo 21: Thiago e Gabriele

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.lines as mlines
from sklearn import preprocessing

import plotly.graph_objects as go
import plotly.express as px

from mlxtend.frequent_patterns import apriori

In [2]:
!pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.18.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 3.7 MB/s eta 0:00:01
Requirement already satisfied: scikit-learn>=0.20.3 in /home/gabic9814/anaconda3/lib/python3.7/site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: pandas>=0.24.2 in /home/gabic9814/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: matplotlib>=3.0.0 in /home/gabic9814/anaconda3/lib/python3.7/site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: numpy>=1.16.2 in /home/gabic9814/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.19.3)
Requirement already satisfied: scipy>=1.2.1 in /home/gabic9814/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: joblib>=0.13.2 in /home/gabic9814/anaconda3/lib/python3.7/site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: setuptools in /home/gabic9814/anaconda3/lib/python3.7/site-packages (from mlxtend) (50.3.0.post20201006)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/gabic9814/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /home/gabic9814/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: certifi>=2020.06.20 in /home/gabic9814/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/gabic9814/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: pillow>=6.2.0 in /home/gabic9814/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /home/gabic9814/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: six in /home/gabic9814/anaconda3/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /home/gabic9814/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/gabic9814/anaconda3/lib/python3.7/site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.18.0

In [4]:
df = pd.read_csv('trabalho4_dados_21.csv')
df

,ABSORVENTE,ACETONA,ACHOCOLATADO,ACUCAR,ADOCANTE,AGUA_OXIGENADA,AGUA,AGULHEIRO,ALGODAO,AMENDOIN,...,TAPETE,TINTURA,TOALHA_DE_BANHO,TORRADA,TRIGO_DE_QUIBE,UTEN_COZINHA,VELA_DE_FILTRO,VELA,VERDURAS,VINAGRE
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9120,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9121,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9122,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9123,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9124,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# def ditribution_plot(x,y,name=None,xaxis=None,yaxis=None):
#     fig = go.Figure([
#         go.Bar(x=x, y=y)
#     ])

#     fig.update_layout(
#         title_text=name,
#         xaxis_title=xaxis,
#         yaxis_title=yaxis
#     )
#     fig.show()

Precisa criar um outro dataFrame contando a qauntidade de cada produto e armazenar em uma coluna como df['itemDescription']

In [7]:
# x = df['itemDescription'].value_counts()
# x = x.sort_values(ascending = False) 
# x = x[:10]

# ditribution_plot(x=x.index, y=x.values, yaxis="Count", xaxis="Products")

### Transações

In [38]:
#armazenar as transações que foram realizadas, as compras armazenadas nas linhas do dataframe
transacoes=[]
for i in df.iterrows():#i é uma tupla(id da linha, um array com os produtos correspondentes a linha)
    transacoes.append(df.keys()[i[1]==1].values)#armazena o nome dos produtos que foram comprados em cada linha

In [39]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
dadosTransformados = pd.DataFrame(te.fit(transacoes).transform(transacoes), columns=te.columns_)
dadosTransformados

,ABSORVENTE,ACETONA,ACHOCOLATADO,ACUCAR,ADOCANTE,AGUA,AGUA_OXIGENADA,AGULHEIRO,ALGODAO,AMENDOIN,...,TAPETE,TINTURA,TOALHA_DE_BANHO,TORRADA,TRIGO_DE_QUIBE,UTEN_COZINHA,VELA,VELA_DE_FILTRO,VERDURAS,VINAGRE
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9120,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
9121,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9122,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9123,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9124,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

### Utilizando o método apriori

In [54]:
itemsets = apriori(dadosTransformados, min_support=0.015,use_colnames=True)#com o min_support>0.3 não temos conjunto

itemsets

      support                                         itemsets
0    0.048877                                   (ACHOCOLATADO)
1    0.048110                                         (ACUCAR)
2    0.021699                                           (AGUA)
3    0.037260                                          (ARROZ)
4    0.017644                                       (AZEITONA)
..        ...                                              ...
214  0.016000             (LEGUMES, LIMP_ROUPAS, PROD_LIMPEZA)
215  0.018959          (COTONETE, CAFE, DESODORANTE, BISCOITO)
216  0.017315         (FARINHA, COTONETE, CHOCOLATE, BISCOITO)
217  0.016548  (COTONETE, LIMP_ROUPAS, PROD_LIMPEZA, BISCOITO)
218  0.015233   (LIMP_ROUPAS, CAFE, DESODORANTE, PROD_LIMPEZA)

[219 rows x 2 columns]

### Regras de Associação

In [55]:
from mlxtend.frequent_patterns import association_rules

regras = association_rules(itemsets, metric="confidence", min_threshold=0.7)

regras.sort_values(by="lift",  ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,(CARNE_SUINA),(ESPECIARIAS),0.016219,0.016219,0.016219,1.0,61.655405,0.015956,inf
5,(ESPECIARIAS),(CARNE_SUINA),0.016219,0.016219,0.016219,1.0,61.655405,0.015956,inf
98,"(FARINHA, COTONETE)","(CHOCOLATE, BISCOITO)",0.017315,0.017315,0.017315,1.0,57.753165,0.017015,inf
99,"(FARINHA, BISCOITO)","(COTONETE, CHOCOLATE)",0.017315,0.017315,0.017315,1.0,57.753165,0.017015,inf
100,"(COTONETE, CHOCOLATE)","(FARINHA, BISCOITO)",0.017315,0.017315,0.017315,1.0,57.753165,0.017015,inf
...,...,...,...,...,...,...,...,...,...
47,"(COTONETE, OLEO_VEGETAL)",(BISCOITO),0.018192,0.204932,0.018192,1.0,4.879679,0.014464,inf
46,"(MANTEIGA, BISCOITO)",(COTONETE),0.019178,0.204932,0.019178,1.0,4.879679,0.015248,inf
45,"(COTONETE, MANTEIGA)",(BISCOITO),0.019178,0.204932,0.019178,1.0,4.879679,0.015248,inf
44,"(BISCOITO, MACARRAO)",(COTONETE),0.021479,0.204932,0.021479,1.0,4.879679,0.017078,inf
56,"(PROD_LIMPEZA, BISCOITO)",(COTONETE),0.029918,0.204932,0.029918,1.0,4.879679,0.023787,inf